*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div_mae{
    background-color: antiquewhite;
}
.btn{
    width: 100px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 8px;
    margin-top: 5px;
}