*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div_mae{
    background-color: antiquewhite;
}
.btn{
    padding: 5px;
    width: 70px;
    border-radius: 8px;
}
table, th, td {
    border: 1px solid;
    width: 100%;
  }