.div_mae{
    display: table-cell;
    margin-right: 100px;
}
.selecionado{
    outline-color: red;
    outline-width: 2px !important;
}
.div_meio{
    width: 10px;
    display : table-cell;
    background-color: bisque;
    margin-left: 10px;
}
.div_esq{
    width : 13rem;
    height : 18rem;
    background-color: rgb(236, 236, 236);
    text-align: center;
    vertical-align: middle;
    outline: 2px;
    outline-style: solid;
    display: table-cell;  
    border-radius: 10px;
    border: none;
}
.div_dir{
    width : 13rem;
    height : 18rem;
    background-color: rgb(236, 236, 236);
    vertical-align: middle;
    outline: 2px;
    outline-style: solid;
    display: table-cell;  
    border-radius: 10px;
    border: none;
}
.bt{
    width : 9rem;
    height: 1.5rem;
    background-color: rgb(8, 8, 109);
    color:white;
    border: none;
    cursor : pointer;
    border-radius: 6px;
    margin-top: .3rem;
}
.me{
    width : 13 rem;
        
}
.curso{
    width: 10rem;
    height: 1.3rem;
    text-align: center;
    background-color: rgb(190, 190, 190);
    border-radius: 6px;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: .6rem;
    outline-width: 1px;
    outline-style: solid;    
}
