div#div_mae{
    height : 18rem;
    background-color: bisque;
}
div.c1{
    width : 8rem;
    height: 2rem;
    vertical-align: middle;
    padding-top: 0.5rem;
    margin-top: -1rem
}

input {
    border-radius: .2rem;
    box-shadow: none;
    border-width: 0.125rem ;
    outline: none;
    border-style: solid;
    text-shadow: none;
    width : 6rem;
    padding: 0.2rem;
    color: rgb(252, 116, 66);
    border-color:rgb(252, 116, 66);
    background-color: transparent;
    transition-duration: 0.2s;
    margin-left: 1rem    
}

.c1{
    background-color: blue;
}
.c2{
    background-color: rgba(145, 20, 20, 0.555);
    margin-top: -1rem;
    width : 8rem;
    padding: 0.4rem;
}