*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div_mae{
    background-color: antiquewhite;
}
.btn{
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
}
.txt{
    padding: 5px;
    border-radius: 8px;
}
form{
    display: flex;
    width: 300px;
    flex-direction: column;
}